
        * { 
            background-color:lightblue;
           }  
        
        p {
            color: black;
        }
            body {
                   background-image: url("background.jpg");
                   {
