        h1 { color:white;
             text-align:center;
             font-family: "Lucida Handwriting", Cursive;
}

        p {
            color: white;
            margin-right: 30px;
            margin-left:30px;
        }
            body {
                   background-image: url("background.jpg");
}
